{% for message in messages %}
  {% if message.tags == 'success' %}
  <div class="alert alert-success fade in">
  {% elif message.tags == 'error' %}
  <div class="alert alert-danger fade in">
  {% elif message.tags == 'info' %}
  <div class="alert alert-infon fade in">
  {% else %}
  <div class="alert alert-warning fade in">
  {% endif %}
    <button type="button" class="close" data-dismiss="alert" aria-hidden="true"><i class="fa fa-times"></i></button>
    {{ message }}
  </div>
{% endfor %}
