{% load static %}
<!-- Top Navigation Bar -->
<div id="navbar_top" class="navbar navbar-default navbar-fixed-top" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#" style="color: #555;padding-top: 16px;font-family: 'garamond';font-size: 24px">
        <img src="{% static 'images/favicon.png' %}" style="width: 16px; margin-top: -3px;">
        WriteLab
      </a>
    </div>
    <div class="navbar-collapse collapse">
      <ul class="nav navbar-nav">
        <li class="nav_btn">
          <a href="#" target="_blank">
            <img class="icon icon_guide" src="{% static 'images/guide.png' %}" title="Guide">
            <span class="text text_guide hidden-sm">Guide</span>
          </a></li>
        <li class="dropdown nav_btn">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">
            <img class="icon icon_documents" src="{% static 'images/documents.png' %}" title="My Documents">
            <span class="text text_documents hidden-sm">My Documents</span>
          </a>
          <ul class="dropdown-menu" role="menu">
            <li><a href="#">View All</a></li>
            {% if recent_documents %}
              <li class="divider"></li>
              {% for document in recent_documents %}
              <li><a href="{{ document.get_absolute_url }}">{{ document.title }}</a></li>
              {% endfor %}
              <li class="divider"></li>
            {% endif %}
            <li><a href="#">Create Document</a></li>
          </ul>
        </li>
        {% if courses %}
        <li class="dropdown nav_btn">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">
            <img class="icon icon_courses" src="{% static 'images/documents.png' %}" title="Courses">
            <span class="text text_courses hidden-sm">Courses</span>
          </a>
          <ul class="dropdown-menu" role="menu">
            {% for course in courses %}
            <li><a href="{{ course.get_absolute_url }}">{{ course.name }}</a></li>
            {% endfor %}
          </ul>
        </li>
        {% endif %}
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li class="nav_btn">
          <a id="feedback-button">
            <img class="icon icon_feedback" src="{% static 'images/feedback.png' %}" title="Feedback">
            <span class="text text_feedback hidden-sm">Feedback</span>
          </a></li>
        <li class="dropdown nav_btn">
          <a href="#" class="dropdown-toggle" id="user_name" data-toggle="dropdown">
            <img class="icon icon_user" src="{% static 'images/profile.png' %}" title="Lionel Messi">
            <span class="text text_user hidden-sm">Lionel Messi</span>
          </a>
          <ul class="dropdown-menu" role="menu">
            <li><a href="#">Change Password</a></li>
            <li><a href="#">Edit Profile</a></li>
          </ul>
        </li>
        <li class="nav_btn">
          <a href="#">
            <img class="icon icon_logout" src="{% static 'images/lock.png' %}" title="Logout">
            <span class="text text_logout hidden-sm">Logout</span>
          </a></li>
      </ul>
    </div>
  </div>
</div>

