{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    {% load static %}
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>WriteLab - {% block title %}{% endblock title %}</title>

    <link rel="shortcut icon" type="image/png" href="{% static 'images/favicon.png' %}"/>

    <script type="text/javascript" src="//use.typekit.net/pxp7ufu.js"></script>
    <script type="text/javascript">try{Typekit.load();}catch(e){}</script>

    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'css/font-awesome.min.css' %}" rel="stylesheet">
    <link href="{% static 'css/jquery-ui.min.css' %}" rel="stylesheet">

    <link href="{% static 'css/style.css' %}" rel="stylesheet">
    <link href="{% static 'css/main.css' %}" rel="stylesheet"/>
    <link href="{% static 'css/header.css' %}" rel="stylesheet"/>
    {% block head %}{% endblock head %}
  </head>

  <body>
    {% include '_navbar.html' %}

    <div class="container-liquid" style="margin-top: -2px;" id="mainContainer">
      <div>
        {% block intro %}{% endblock intro %}
      </div>

      <div class="col-md-8 col-md-offset-2 text-center">
        {% include '_messages.html' %}
      </div>

      <div class="col-md-10 col-md-offset-1" id="subContainer">
        {% block content %}{% endblock content %}
      </div>

    <div>

    <script src="{% static 'js/jquery-1.11.1.min.js' %}"></script>
    <script src="{% static 'js/jquery-ui.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/jquery.nicescroll.min.js' %}"></script>

    <script src="{% static 'js/main.js' %}"></script>
    {% block extra_js %}{% endblock extra_js %}
  </body>
</html>
