body{
    margin: 0;
    padding: 0;
    overflow:hidden;
}

p{ 
     text-align: justify; 
     overflow: overlay;
     position: relative;
}

body{
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: white
}

#topBar{
	background-color: white;
	height: 40px;
	color:black;
	border-bottom: 1px solid #c1c1c1;
}

.topBarWriteTrack{
	font-size:120%;	
}
.side-bar{
	padding-left : 0;
}

.topBarWriteTrack, .topBar-Option{
padding-left:10px;
padding-right:90px;
padding-top:10px;
float:left;
}
.li_related_list:hover{
	background-color: white;	
}

#graph{
	float:left;
} 

#textareaTopic,#textareaSentencesInput {    
	border: 1px solid rgb(140, 140, 140);
    border-radius: 20px;
	background-color: rgb(240, 240, 240);
	outline: none; /* removes the default outline */
    resize: none; /* prevents the user-resizing, adjust to taste */	
	height:23px;
	margin-left: 30px;
	padding-left:100px;
}

#textareaEdge{
	border: 1px solid rgb(140, 140, 140);
    border-radius: 20px;
	background-color: white;
	outline: none; /* removes the default outline */
    resize: none; /* prevents the user-resizing, adjust to taste */	
	padding-left:10px;
	margin-left:30%;
}
.ui-dialog{
	z-index: 10001;


}
#related_list_title{
	padding-top:25px;
	display:none;
}

#right-side-sideBar .title, #related_list_title{
	border-bottom: 1px solid rgb(140,140,140);
	padding-bottom:15px;
	margin-top:15px;
	margin-bottom:15px;
	font-weight:bold;
	font-size:110%;	
}

#right-side-sideBar .list{
	padding-top:15px;
}


.ui-menu .ui-menu-item {    
	font-size:10px;
}

#textareaTopic:focus {
	background-color: white;

}

ul{
	padding:0px;
}
.promp-relationships-line{
	width:15%;
	margin-left:39%;
	border-top: thin solid rgb(140, 140, 140);
}
#promp-relationships-text{	
	margin-top:10px;
	margin-bottom:10px;
	
}

#promp-relationships{
	position:absolute;
	width:550px;
	height:270px;
	margin-left:30%;
	bottom:0;
	display:none;	
}
#slider{
	position:absolute;
	height:400px;
	top:150px;
	right: 0;
}

a {
  text-decoration: none;
}
li{
	padding-top:7px;
	padding-bottom:7px;	
	list-style: none;
}

#hidden-file-upload{
    display: none;
}

#download-input{
    margin: 0 0.5em;
}

#dLogo {
width: 100px;

left: 20px;
top: 17px;
}

.title{
	margin: 15px;
	font-size: 25px;
}