/* ======================
   | Top Navigation Bar |
   ======================
*/

/* [0] override Bootstrap defaults */
.navbar-inverse .navbar-nav>.open>a,
.navbar-inverse .navbar-nav>.open>a:hover,
.navbar-inverse .navbar-nav>.open>a:focus{
  background: #f5f5f5;
  color: #333;}
  
.navbar-default .navbar-nav>.open>a, 
.navbar-default .navbar-nav>.open>a:hover,
.navbar-default .navbar-nav>.open>a:focus{
  background: #f5f5f5;}

/* [1] all */
#navbar_top{
  padding-bottom: 50px;}
  
#navbar_top *{
  color: #333;
  font-family: "proxima-nova", sans-serif;}
  
#navbar_top .container{
  background: #fff;}

#navbar_top li{
  border-left: 0px solid #eee;
  border-right: 0px solid #eee;
  margin: 0 2px;
  text-align: center;}
  
#navbar_top li:hover{
  cursor: pointer;
  background: #f5f5f5;}

#navbar_top .dropdown-menu{
  background: white;
  left:0;
  padding-top: 2px;
  padding-bottom: 0;
  border-radius: 0;}
  
#navbar_top .dropdown-menu li{
  text-align: center;
  width: 100%;
  max-width: 300px;
  margin: 0;
  margin-top: -2px;
  padding-top: 5px;
  padding-bottom: 3px;
  padding-right: 15px;}
  
#navbar_top .dropdown-menu li:hover{
  background: #f5f5f5;}

#navbar_top .dropdown-menu li a{
  text-align: left; 
  margin-top: -2px; 
  margin-left: 8px; 
  height: 100%;
  padding: 8px;
  padding-left: 8px;
  padding-right: 10px;
  overflow: hidden;}

#navbar_top .dropdown-menu .divider{
  margin: 0;
  padding: 0;}
  
/* [1a] header-specific */
.navbar-brand{margin-right: 50px;}
#logo{
  background:none;
  height:17px;
  width: auto;}

/* [1b] non-header-specific */
#navbar_top .navbar-collapse .nav_btn{padding-top: 2px;height: 50px}

/* [1b1] icon-specific */
#navbar_top .navbar-collapse .nav_btn .icon{width:15px}
#navbar_top .navbar-collapse .nav_btn .icon_guide{
  width: 10px;
  margin-top: -3px;}
#navbar_top .navbar-collapse .nav_btn .icon_documents,
#navbar_top .navbar-collapse .nav_btn .icon_courses{
  width: 14px;
  margin-top: -2px;}
#navbar_top .navbar-collapse .nav_btn .icon_feedback{
  width: 13px;
  margin-top: -3px;}
#navbar_top .navbar-collapse .nav_btn .icon_user{
  width: 13px;
  margin-top: -3px;}
#navbar_top .navbar-collapse .nav_btn .icon_logout{
  width: 9px;
  margin-top: -3px;}

/* [1b2] text-specific */
#navbar_top .navbar-collapse .nav_btn .text_guide{
  margin-left: 5px;}
#navbar_top .navbar-collapse .nav_btn .text_documents,
#navbar_top .navbar-collapse .nav_btn .text_courses{
  margin-left: 5px;}
#navbar_top .navbar-collapse .nav_btn .text_feedback{
  margin-left: 5px;}
#navbar_top .navbar-collapse .nav_btn .text_user{
  margin-left: 5px;}
#navbar_top .navbar-collapse .nav_btn .text_logout{
  margin-left: 5px;}