*{
  padding:0;
  margin:0;
}

body{
  font-family: "omnes-pro", sans-serif;
  font-size: 100%;
}

a{
  text-decoration: none;}
  
a:hover{
  color:#999;
}
p{
  line-height: 2em;
  margin:0 0 20px;
  text-align: center;
}

h4{
 font-weight: normal; 
}

.wrap{
  max-width: 600px;
  margin:150px auto;
}

.type-wrap{
  margin:10px auto;
  padding:20px;
  background:#f0f0f0;
  border-radius:5px;
  border:#CCC 1px solid;
}

.links{
  margin:20px 0;
  font-size: 0.75em;
  text-align: center;
}
/*.btn-default { background-color:none !important;}
.form-control { background-color:rgba(255,255,255,.5);}*/
.fullwide { padding: 5em 0;}
h2.headline { font-size:4em;}
h1 .italic{ font-style:italic;}
.brand h1 { font-size:40px;font-family: "jubilat",sans-serif; color:#aaa; font-weight:300;}
a:hover { text-decoration:none;}
.brand { position:fixed; top:40px; left:200px;}
h2 { font-family: "omnes-pro",sans-serif;/*font-style: italic;*/ font-weight:700;}
.brand h1 { font-family: "jubilat",sans-serif; color:#000; font-weight:300; margin-bottom:0;}
.brand h3 { font-family: "jubilat",sans-serif; color:#555; font-style:italic; font-weight:300;font-size:1.5em; margin-top:0;}
p {font-family: "omnes-pro",sans-serif; text-align:left; font-size:1.8em; line-height:1.8em;}
p.indent-1 {padding-left: 50px;}
.bios p { font-family: "omnes-pro",sans-serif; text-align:left; font-size:1.3em; line-height:1.4em;}
.typed { font-family: "jubilat",sans-serif;font-weight:300; font-size: 26px}
.main { padding-top:5em; padding-bottom: 5em;}
.brand { width:200px; z-index:99999;}
.brand h1 a { text-decoration:none; color:#000;}
.brand h1 a:hover { color:#333; opacity:.7;}
nav ul { list-style-type:none;}
nav ul li { font-size:1.5em;font-family: "omnes-pro",sans-serif; font-weight:600;}
nav ul li.active a { color:#000;}
section.section { padding:5em 0 0 0;}
.navbar h1 { font-family: "jubilat",sans-serif; color:#000; font-weight:300; margin-bottom:0;}
.navbar h3 { font-family: "jubilat",sans-serif; color:#555; font-style:italic; font-weight:300;font-size:1.5em; margin-top:0;}

.navbar-nav>li>a {
  /*padding-top: 10px;
  padding-bottom: 10px;
  line-height: 4em;
  font-size: 1.5em;*/
}
.navbar-nav>li>a:hover {
  background-color:none !important;
}
.nav.pull-right > li > a:hover {
  background-color:none !important;
}
.nav>li { font-family: sans-serif; font-size: 14px;}
.nav>li.active a { color:#000;}

.navbar-toggle{border:0}

h4 { font-weight:600;}
.row ul { font-size:1.4em;}

.sentence > .list-group-item{
  cursor: pointer;
}

#typed-cursor,
#typed2-cursor,
#typed3-cursor,
#typed4-cursor,
#typed5-cursor,
#typed6-cursor {
  opacity: 1;
  font-weight: 100;
  -webkit-animation: blink 0.7s infinite;
  -moz-animation: blink 0.7s infinite;
  -ms-animation: blink 0.7s infinite;
  -o-animation: blink 0.7s infinite;
  animation: blink 0.7s infinite;
}
@-keyframes blink {
  0% { opacity:1; }
  50% { opacity:0; }
  100% { opacity:1; }
}
@-webkit-keyframes blink {
  0% { opacity:1; }
  50% { opacity:0; }
  100% { opacity:1; }
}
@-moz-keyframes blink {
  0% { opacity:1; }
  50% { opacity:0; }
  100% { opacity:1; }
}
@-ms-keyframes blink {
  0% { opacity:1; }
  50% { opacity:0; }
  100% { opacity:1; }
}
@-o-keyframes blink {
  0% { opacity:1; }
  50% { opacity:0; }
  100% { opacity:1; }
}

/* Error Pages */
.error{
  position: fixed;
  left: 0;
  right: 0;
  width: 100%;
  height: auto;}

/* Logo, more Navbar */
#dLogo{
  width: 100px;
  position: fixed;
  left: 20px;
  top: 17px;
}

.navbar-fixed-top{
 height: 50px;
 border-bottom: 1px solid #c1c1c1; 
 background: #fff;
}

#draft{
  display: none;
  margin-top: 70px;
}

/* Create */
#title{
  border: 0px solid #C4C4C4;
  height: 40px;
}
#title p{
  margin-top: -6px;
  font-size: 22px;
}
#title div{
  overflow: hidden;
  padding-top: 6px;
  height: 40px;
  font-size: 22px;
}
#text{
  margin-top: 7px;
  margin-bottom: 20px;
  border: 0px solid #C4C4C4;
  min-height: 330px;
  max-height: 70%;
  padding-left:20px;
  padding-right: 22px;
  overflow: auto;
  overflow-x: hidden;
}
#text .froala-element{
   min-height: 345px;
 }
#text *{
  overflow: hidden;
}
#text div{
 padding-top:8px;
 padding-left: 12px;
  
}
#text div *{
  font-size: 20px;
  font-family: "garamond", serif;
  color: #666;
  word-wrap: normal;
}
#text div p{
  /*margin-bottom: 25px;*/
  line-height: 220%;
}
#submit-button, #create-button{
  border-radius: 0; 
  border: 1px solid #2C9AAD;
  background: #4C9AAD; 
  font-family: "proxima-nova";
  text-transform: uppercase;
  font-size: 13px; 
  letter-spacing: 1px; 
  padding: 8px 15px;
}
#upload-button{
  border-radius: 0;
  font-size: 13px;
  font-family: "proxima-nova";
  text-transform: uppercase;
  padding: 8px 50px;
  letter-spacing: 1px;
}
#submit-button:hover{
  background: #2C9AAD;
}
#save-button{
  border-radius: 0;
  border-color: #ddd;
  font-family: "proxima-nova";
  text-transform: uppercase;
  font-size: 13px; 
  letter-spacing: 1px; 
  padding: 9px 50px;
}
#save-button:hover{
  background: #eee;
}
#words, #characters{
  margin-right: 10px;
  color: #333;
}

/* My Documents Table */
.table{
  font-size: 13px;
  margin-top: 20px;
}
.table thead tr th{
  padding-left:0;
  padding-left:0;
  padding-bottom: 13px;
  font-weight: normal;
  font-family: serif;
  font-size: 15px;
}
.table tbody tr td{
  padding-left:0;
}
.table tbody tr td{
  padding-top: 15px;
  padding-bottom: 15px;
  color: #666;
}
.table tbody tr td a{
  color: #4C9AAD;
}
.table tbody tr td a.deleteButton{
  font-size: 15px;
  margin-left: 14px;
  cursor:pointer;
}
.footable-sort-indicator{
  margin-top: 2.5px;
  position: absolute;
  font-size: 12px;
  color: #666;}
  
/* Toolbar */
#mainToolbar{
  background: #fff;
  height: 81%;
  width: 80px;
  position: fixed;
  right: 20px;
  top: 114px; /* Until the Django Toolbar is disabled */
  padding: 0;
  text-align: center;
  z-index: -10;
  /*border-radius: 10px;
  border: 1px solid #ccc;*/
}
#mainToolbar-small{
  position: fixed;
  top: 155px;
  right: 10px;
  width: 30px;
  height: 30px;
  background: #fff;}
#mainToolbar-small a{
  cursor: pointer;
  position: absolute;
  opacity: .4;
  top: 3px;
  right: 4px;}
#mainToolbar-small a:hover{
  position: absolute;
  opacity: .65;
  top: 3px;
  right: 4px;}
#preferencesWindow{
  display: none;
  color: #666;
  font-family: "proxima-nova";
  font-size: 14px;
  padding-top: 8px;
  padding-left: 10px;
  position:absolute;
  z-index:-10;
  width: 200px;
  height: 230px;
  right: -5px;
  top: -4px;
  opacity: 1;
  background: #fff;
  border: 1px solid #ccc;}
#preferencesBody{
  top: 33px;
  position: absolute;
  width: 178px;
  height: 154px;}
.toolboxLabel{
  text-align: center;
  color: #333;}
.preference{
  padding: 15px 0;}
#preferencesFoot{
  margin-top: 17px;
  text-align: center;}
.prefButton{
  text-transform: uppercase;
  border-radius: 0;
  padding-top: 3px;
}
.prefButton:hover{
  border-color: #ccc;}
#prefSaveButton{
  background: #43889F;
  color: #fff}
#prefSaveButton:hover{
  background: #688E9F;}
#prefResetButton:hover{
  background: #eee;}
  
#topHalf{
 position: absolute;
 top: 0;
}
#bottomHalf{
 position: absolute; 
 bottom: 10px;
}
#mainToolbar a:hover{
  border-bottom: 1px solid #CCC;
}
#mainToolbar img{
  width: 20px;
  height: auto;
  margin-bottom: 20px;
}

.toolContainer{
  padding-left: 4px;
  padding-right: 2px;
  margin-bottom: 25px;}

/* Print button*/
#print-button{
 background: url('../images/print.png') no-repeat left top;
 width: 20px; 
 height:17px;
 overflow:hidden;
 cursor:pointer;
 margin: 5px;
 margin-top:9px;
 margin-bottom:10px}
#print-button:hover{background-position: -25px 0px;}

/* Download button*/

#download-button:hover{opacity:.4;}

/* Font/Line height Resize*/
.slider{
  width: 90%;
  left: 8px;
  margin-top: 10px;}
.slider, .slider *{border-radius: 0;}

.font_resize{
  color: #555;
  cursor: pointer;
  display: block;
  margin-right: 1.5px;}
  
.largeFont{font-size: 28px;}
.mediumFont{font-size: 20px;margin-bottom: 7px;}
.smallFont{font-size: 15px;}

.line_resize{
  cursor: pointer;
  width: 16px;
  height: 16px;
  margin-left: 6px;
  margin-top: 10px;
  margin-bottom: 5px;}

.line_resize_large{background: url('../images/lineHeightLarge.png');}
.line_resize_large:hover{background: url('../images/lineHeightLarge-hover.png');}
.line_resize_med{background: url('../images/lineHeightMed.png');}
.line_resize_med:hover{background: url('../images/lineHeightMed-hover.png');}
.line_resize_small{background: url('../images/lineHeightSmall.png');}
.line_resize_small:hover{background: url('../images/lineHeightSmall-hover.png');}


/* Sidebar*/
#sidebar{
  padding-top: 25px;
  padding-left:0;
  padding-right: 0;
  background-color: #F6F6F6; 
  width: 190px;
  height: 100%;
  position: fixed;
  left: 0;}
#sidebar-tiny{
  padding-top: 132px;
  padding-left:19px;
  padding-right: 0;
  background-color: #F6F6F6; 
  width: 52px;
  height: 100%;
  position: fixed;
  left: 0;}

#featureTabs{
  background: white;
  border-color: #ccc;
  text-transform: lowercase;
  font-size: 14px;
  margin-top: 3px;
  margin-left: 20px;
  width: 156px;
  -webkit-appearance: none;
  padding-left: 36px;
  padding-top: 1px;}
  
#featureHead{
  text-transform: uppercase;
  font-size: 14px;
  font-weight: normal;
  margin-left: 20px;
  color: #777;
}
#featureList li{
  width: 190px;
  padding: 5px;
  padding-top: 10px;
  padding-left: 20px;
  margin-top:0;
  cursor: pointer;
  color: #888;
  font-weight: normal;
  font-family: "proxima-nova", sans-serif;
  font-size: 14px;}
#featureList-tiny li{
  width: 12px;
  height: 16px;
  margin-bottom: 21px;
  cursor: pointer;
  color: #888;
  font-weight: normal;
  font-family: "proxima-nova", sans-serif;
  font-size: 14px;}
  
#featureList li.selected{
  background: #FCFCFC;
}
#featureList li:hover{
  background: #FCFCFC;
}
#featureList li.selected:hover{
 background: #FCFCFC;
}
#featureList .noSuggestions{
  cursor: default;
}
#featureList .noSuggestions:hover{
  background: #F6F6F6;
}
#featureList li .badge{
  background: none;
  color: #999;
  border: 1px solid #CCC;
  border-radius: 15px;
  width: 38px;
  position: absolute;
  right: 15px;
  top: 10px;
  font-weight: normal;
  font-family: monospace;
  font-size: 13px;
}
#featureList li.hiddenFeature{display:none;}

#tabList{
  margin-top: 10px;
}
#tabList li{
  width: 190px;
  padding: 10px;
  padding-left: 20px;
  padding-top: 11px;
  cursor: pointer;
  color: #888;
  font-weight: normal;
  font-family: "proxima-nova";
}
#tabList li:hover{
  background: #EBEBEB;
}
#tabList li.selected{
  background: #EBEBEB;
}
#tabList .noNotes{
  cursor: default;
}
#tabList .noNotes:hover{
  background: #F6F6F6;
}
#tabList li .badge{
  background: none;
  color: #999;
  border: 1px solid #CCC;
  border-radius: 15px;
  width: 38px;
  position: absolute;
  right: 15px;
  top: 10px;
  font-weight: normal;
  font-family: monospace;
  font-size: 13px;
}
#tabList img{
  width: 16px;
  margin-right: 18px;
}

.circle{
  float: left;
  margin-right: 22px;
  margin-top: 3.8px;
  width: 12px;
  height: 12px;
  border-radius: 12px;
  border: 1px solid #F6F6F6;
  font-family: Cambria;
  font-size: 11px;
  line-height: 20px;
  text-align: center;
}

.colorClarity{background: #F8ED3F}
.colorLogic{background: #E060FE}
.colorConcision{background: #D8BC8D}
.colorEmphasis{background: #AAEA4C}
.colorCohesion{background: #F87BB5}
.colorElegance{background: #A7F1FF}
.colorGrammar{background: #FAAC0D}

.separator{
  border-bottom: 1px solid #CCC;
  margin: 15px 0 10px 20px;
  width: 165px;
}

#tabList .separator{
  margin: 10px 0 10px 20px;
}

#wordContainer{
  position: absolute;
  left: 14px;
  top: 450px;
  font-size: 12px;
  color: #999;
  width: 160px;
  text-align: right;
}
#wordContainer{
  display: none;
}
#wordContainer #words{
 color: #999;
 padding-left: 10px; 
}

/* Boat (Floating Suggestions Window) */
#boat{
 display:none;
 width: 275px; 
 height: 275px;  
 padding-top: 7px; 
 position: fixed; 
 left: 209px; 
 top: 321px; 
 border: 1px solid rgb(204, 204, 204); 
 background: white; 
 z-index: 100;
 cursor:pointer 
}
.boatSuggestion, .boatNote{
  color: #999;
  font-size: 14px;
  background: white;
  line-height: 18px;
  height: 165px;
  overflow-y: auto;
  float: left; 
  margin-top: 5px; 
  cursor:default;
  padding-left: 15px;
  padding-right: 15px;
  margin-bottom: 15px;
  position: absolute;
  top: 40px;
}
.boatNote textarea{
 resize: none; 
}
.hiddenSuggestion, .hiddenNote{
  display: none;
}
.boatHeadTitle{
  font-size: 14px;
}
.hiddenTitle{
  display: none;
}
.hiddenFeedbackButtons, .hiddenGlossaryRemoveButtons{
 display: none;
}
#boatKnee{
  position: absolute;
  bottom: 29px;
  width: 100%;
  color: red;
  padding: 8px 15px;
  background: #FFF;
}
#glossaryRemoveButtons li a{
  font-family: "proxima-nova";
  letter-spacing: 0.5px;
  font-size: 12px;
  color: #999;
}

#boatFoot{
  float: left;
  position: absolute;
  bottom: 0;
  width: 100%;
  padding: 8px 10px;
  padding-top: 10px;
  background: #F6F6F6;
}
#boatFoot img{
  width: 11px;
  margin-right: 12px;
}
#boatFoot span img{
  width: 8px;
  height: auto;
  margin-right: 0;
}
.disabledBoatButton{
  opacity: 0.5;}
  
.likeButton span{
  color: #FFF;
  padding: 5px;
  border: 1px solid #ddd;
  border-radius: 0;
  background: #4C9AAD;
  text-transform: uppercase;
  letter-spacing: 1px;
  padding-left: 10px;
  padding-right: 10px;
}

.likeButton span:hover{
  background: #2C9AAD;
  color: #FFF;
}

.dislikeButton span{
  color: #333;
  padding: 5px;
  border: 1px solid #ddd;
  border-radius: 0;
  background: #FFF;
  text-transform: uppercase;
  letter-spacing: 1px;
  padding-left: 10px;
  padding-right: 10px;
}

.dislikeButton span:hover{
  background: #eee;
}

.restoreSuggestionButton span{
  color: #FFF;
  padding: 5px;
  border: 1px solid #ddd;
  border-radius: 0;
  background: #4C9AAD;
  text-transform: uppercase;
  letter-spacing: 1px;
}
.restoreSuggestionButton span:hover{
  background: #2E889F;}

#saveNoteButton{
  color: #FFF;
  padding: 5px;
  border: 1px solid #ddd;
  border-radius: 0;
  background: #4C9AAD;
  text-transform: uppercase;
  letter-spacing: 1px;
}
#saveNoteButton:hover{
  background: #2E889F;}

#saveNoteButton{
  padding-left: 12px;
  padding-right: 12px;
}

.enabledBoatButton{
  opacity: 1;
}
#prevSuggestionButton{
  padding: 9px;
  margin-left: 0;
}
#nextSuggestionButton{
  padding: 9px;
}
.feedback{
  position: absolute;
  top: 40px;
  right: 95px;
  z-index: 1}

/* Landing Page Text */
#whatWriteLabDoes{
  position: absolute;
  top: 70px;
  margin-left: 10px;
  right: 10px;
  max-width: 600px;
  list-style-type: none;
}
#whatWriteLabDoes li{
  display: none;
  margin-bottom: 8px;
  font-size: 12px;
  font-family: serif;
}

/* Static Pages (FAQs, Privacy & Terms, etc.)*/
.faqContainer{
  font-size: 8px;
  padding-left: 0;
  padding-right: 0;
}
.faqContainer h1{
  text-align: center;
  margin-top: 50px;
  margin-bottom: 50px;
  font-family: 'garamond';
}
.faqContainer h3 span img{
  width: 15px;
}
.faqContainer div.closed h3 span img.minusIcon{
  display: none;
}
.faqContainer div.open h3 span img.plusIcon{
  display: none;
}
.faqContainer p.preface{
  padding: 0 20%;
}
.faqContainer p.afterword{
 padding: 8px 20%; 
}
.faqContainer div{
  padding: 8px 20%;
}  
.faqContainer div.open{
  margin-top: 10px;
  background: #F6F6F6;
}
.faqContainer div h3{
  font-family: 'garamond';
  font-size: 20px;
  border-left: 3px solid #D57016;
  padding-left: 10px;
  padding-bottom: 10px;
  margin-top: 9px;
  height: 23px;
}
.faqContainer div.open h3 span{
  float: right;
  font-size: 2.8em;
  color: #777;
  margin-top: -23px; 
}
.faqContainer div.closed h3 span{
  float: right;
  font-size: 1.4em;
  color: #777;
  margin-top: -4px; 
}
.faqContainer div.open hr{
  display:none;
}
.faqContainer div.closed hr{
  margin-bottom: 25px;
  margin-top: 0px;
}
.faqContainer div.closed p{
  display: none;
}
.faqContainer div p{
  color: #777;
  font-size: 1.5em;
  padding-top: 15px;
}

/* How it Works */
.howitworksContainer{
  font-size: 8px;
  padding-left: 0;
  padding-right: 0;
  margin-top: 80px;
}

/* About Us */
.aboutUs{
  text-align: center; 
  font-size: 8px;
  padding-left: 0;
  padding-right: 0;
}
.aboutUs .intro{
  width: 750px;
  margin: auto;
  color: #aaa;
  font-family: 'garamond';
  font-size: 16px;
  text-align:center;
  line-height: 23px;
  margin-bottom: 30px;
}
.aboutUs h1{
  font-family: 'garamond';
  margin-top: 10px;
  margin-bottom: 30px;
}
.founderContainer{
  background: #F4F4F4;
  padding: 20px;
}
.founders{
  width: 800px;
  margin: auto;
  padding-left: 65px;
  overflow: hidden;
}
.founders h1{
  margin-top: 10px;
  font-size: 30px;
}
.founder{
  margin-right: 60px;
  width: 180px;
  height: 100%;
  float: left;
}
.founder h4{
  font-family: 'garamond';
  font-weight: normal;
  font-size: 20px;
  margin-top: 30px;
}
.founder-circle{
  height:140px;
  width:140px;
  border-radius:50%;
  overflow:hidden;
  margin:auto;
}
.don .founder-circle{
  background:url(/static/images/don.png) no-repeat;
  background-size:196px 198px;
  background-position:-30px -20px;
}
.matthew .founder-circle{
  background:url(/static/images/matthew.png) no-repeat;
  background-size: 170px 188px;
  background-position: -13px -10px;
}
.frank .founder-circle{
  background:url(/static/images/frank.png) no-repeat;
  background-size:165px 194px;
  background-position:-10px -15px;
}
.founderContainer .separator{
  width: 800px;
  margin: 40px auto;
  margin-bottom: 30px;
  display: none;
}
.founderContainer .separator img{
  width: 20px;
  height: auto;
  bottom: -1px;
  left: -250px;
  position: relative;
}
.bios{
  width: 800px;
  margin: 0 auto;
  text-align: left; 
}
.bios h6{
  color: #444;
}
.bios p{
  font-size: 12px;
  line-height: 1.7em;
  color: #999;
  margin-top: 15px;
}
.bio{
  display: none;
}

/* Previous Draft & Print Styles*/
#versionText p{
  color: #666;
  font-family: 'garamond';
  font-size: 20px;
  line-height: 36px;
  word-wrap: break-word;
}

/* Welcome > Signup*/
.welcomeSignup .form-control{
  /*border-left: 5px solid #ddd;*/
  border-radius:0;
}
.welcomeSignup .form-control:focus{
  border: 1px solid #ccc;
  border-left: 5px solid #D57016;
}
.welcomeSignup h2{
  margin-left: 13px;
}
.welcomeSignup h5{
  margin-bottom: 15px;
  font-family: serif;
  font-size: 14px;
  letter-spacing: 0.5px;
  color: #777;
  margin-left: 46px;
}
.welcomeSignup .form-control{
  margin-bottom: 10px;
  padding: 20px;
}

/* Dialog Boxes */
.modal-content{
  border-radius: 0;
  position: relative;
  top: 25%;
  transform: translateY(25%);
}
.modal-content *{
  border-radius: 0;
}
#note-modal .modal-title{
 font-weight: normal; 
 font-size: 16px;
}
#feedback .modal-title{
 font-weight: normal; 
 font-size: 16px;
}
select.form-control {
  border-radius: 0;
  /*-webkit-appearance: none;*/
}
#note-textarea{
  border-radius: 0;
  height: 160px;
  width: 242px;
}
.modal-footer{
  border-top: 0;
  margin-top: 0;
  padding-top: 0; 
}
#feedback-submit, #feedback-cancel, #cancel-note, #create-note{
  letter-spacing: 1px;
  text-transform: uppercase;
}
#create-note{
  background: #4C9AAD;
}

/* Form controls */
.form-group *{
  border-radius: 0;
  font-family: "proxima-nova";
}

/* Login buttons */

#reset-password{
  border-radius: 0;
  position: absolute;
  left: 15px;
  background: #fff;
  text-transform: uppercase;
  font-size: 14px;
  padding: 9.5px;
  color: #666;
  letter-spacing: 1px;
  font-family: "proxima-nova";
}

#login-button{
  border-radius: 0;
  position: absolute;
  right: 15px;
  background:#4C9AAD;
  text-transform: uppercase;
  font-size: 14px;
  letter-spacing: 2px;
  font-family: "proxima-nova";
}

/* Courses */
#id_course{
  display: none;
  margin-bottom: -8px;
}