.row{
    margin-left:0px;
    margin-right:0px;
}
.panel-sidebar{
padding:3px 3px;

}

#related_list,#sentences_list{
font-size: 17px;

}
.help_list{
  font-size: 13px;
  overflow: auto;
  margin-bottom: 150px;
}
#wrapper-sidebar {
    margin-top: 52px;
    transition: all .4s ease 0s;    
    text-align: justify;
}

#sidebar-wrapper-sidebar {
    margin-left: -150px;
    left: -150px;
    width: 360px;
    background: #222;
    position: fixed;
    height: 100%;
    z-index: 10000;
    transition: all .4s ease 0s;
}

.sidebar-nav-sidebar {
    display: block;
    float: left;
    width: 150px;
    list-style: none;
    margin: 0;
    padding: 0;
}
#page-content-wrapper-sidebar {
    padding-left: 0;
    margin-left: 0;
    width: 100%;
    height: auto;
}
#wrapper-sidebar.active {
    padding-left: 150px;
}
#wrapper-sidebar.active #sidebar-wrapper-sidebar {
    left: 150px;

}
  .navbar-minimal-sidebar > .navbar-menu-sidebar {
  padding: 0;    
  list-style: none;  
  background-color: rgb(51, 51, 51);
    background-color: rgba(51, 51, 51, 0.8);
   
  }
  .navbar-minimal-sidebar > .navbar-menu-sidebar > li > a {
    display: inline-block;
    color: rgb(255, 255, 255);
    padding: 21px 21px;
    text-align: left;
    cursor: pointer;
    border-bottom: 1px solid rgb(81, 81, 81);
    width: 100%;
    text-decoration: none;
    margin: 0px;
    height: 60px;

  }

  .navbar-minimal-sidebar > .navbar-menu-sidebar > li > a:last-child {
    border-bottom-width: 0px;
  }
  .navbar-minimal-sidebar > .navbar-menu-sidebar > li > a:hover {
    width: 60px;
    background-color: #c1c1c1;
  }
  .navbar-minimal-sidebar > .navbar-menu-sidebar > li > a > .glyphicon {
    float: right;
  }

  .navbar-minimal-sidebar.open {
    width: 320px;
    border-radius: 0px;
  }

.sidebar-nav-sidebar li a {
  color: #999999;
  display: block;
  text-decoration: none;
}

.sidebar-nav-sidebar li a:hover {
  color: #fff;
  background: rgba(255,255,255,0.2);
  text-decoration: none;
}

.sidebar-nav-sidebar li a:active,
.sidebar-nav-sidebar li a:focus {
  text-decoration: none;
}

.sidebar-nav-sidebar > .sidebar-brand {
  height: 65px;
  line-height: 60px;
  font-size: 18px;
}

.sidebar-nav-sidebar > .sidebar-brand a {
  color: #999999;
}

.sidebar-nav-sidebar > .sidebar-brand a:hover {
  color: #fff;
  background: none;
}

.download-sidebar-image{
width: 140px;
float: left;
height: 70px;
padding: 45px;

}


#download-side{
  display:none; 
}

#help-side{
  display:none; 
  height: 100%;
  overflow: auto;
}
#sentences-side{
  display:none; 
}

#toolbox_side_bar{
    position: absolute;

    left: 15%;
    margin-bottom: 0.5em;
    margin-left: 1em;
    border: 2px solid #EEEEEE;
    border-radius: 5px;
    padding: 1em;
    z-index: 5;
}

#toolbox_side_bar input{
    width: 30px;
    opacity: 0.4;
}
#toolbox_side_bar input:hover{
    opacity: 1;
    cursor: pointer;
}

