#graph canvas { }
#graph .node-label { font-size: 11px; }
#graph {
	display: inline-block;
	position: relative;
	overflow: hidden;
	
}

.clarity {background-color: #FFF8B2;}
.clarity-focus {background-color: #F8ED3F;}

.cohesion {background-color: #FCD7E4;}
.cohesion-focus {background-color: #F7A0B7;}

.logic {background-color: #F1E1FF;}
.logic-focus {background-color: #E195FF;}

.concision {background-color: #D8CCBD;}
.concision-focus {background-color: #B5935C;}

.emphasis {background-color: #DFF0AF;}
.emphasis-focus {background-color: #AAEA4C;}

.grammar {background-color: #FFE5BA;}
.grammar-focus {background-color: #FFC141;}

.elegance {background-color: #D3F2FF;}
.elegance-focus {background-color: #78EAFF;}

.note {
  background-color: yellow;
}
.note-focus {
  background-color: gold;
}

@font-face {
  font-family: Lato;
  src: url('../fonts/Lato-Regular.ttf');
}

@font-face {
  font-family: Lora;
  src: url('../fonts/Lora-Regular.ttf');
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'proxima-nova', sans-serif;
  font-weight: bold;}
  
p, div {
  font-family: 'proxima-nova', sans-serif;}

#title {
  font-family: 'Lora';
  font-size: 24pt;
  text-align: center;
}
#title p {
  font-family: 'Lora';
  font-size: 24pt;
  text-align: center;
}

#text {
  font-family: 'Lora';
  font-size: 16pt;
}
#text p {
  font-family: 'Lora';
  font-size: 16pt;
}

.list-group-item{
  cursor: pointer;
}

body {
  padding-top: 50px;
}

section {
  padding-top: 50px;
  margin-top: -50px;
}

#id_title {
  font-size: 15pt;
  font-family: "garamond";
  border: 0;
  box-shadow: none;
  text-align: center;
  color: #666;
  padding: 0;
  padding-left: 29px;
  padding-right: 29px;
  width: 100%;}
  
#draft_info_top{
  color: #666;
  font-size: 14px;
  font-family: "proxima-nova", sans-serif;
  margin-bottom: 50px;
  text-align: left; 
  margin-left:33px;}
  
#id_text {
  display: none;}
