
.conceptg text,.selected text{
    pointer-events: none;
}

marker{
    fill: rgb(140, 140, 140);
}

g.conceptg circle,g.selected circle,g.target circle{
    fill: #FFFFFF;
    stroke: #333;
    stroke-width: 1px;
}
g.selected circle{
	stroke-width: 3px;
	stroke: green;
}

g.target circle{
	stroke-width: 3px;
	stroke: red;
}
g.conceptg:hover circle,g.selected:hover circle,g.target:hover circle{
    fill: rgb(200, 238, 241);
}

g.selected circle{
    fill: rgb(250, 232, 255);
}
g.selected:hover circle{
    fill: rgb(250, 232, 255);
}

path.link {
    fill: none;
    stroke: rgb(140, 140, 140);
    stroke-width: 6px;
    cursor: default;
}

path.link:hover{
    stroke: rgb(94, 196, 204);
}

g.connect-node circle{
    fill: #BEFFFF;
}

path.link.hidden{
    stroke-width: 0;
}

path.link.selected {
    stroke: rgb(229, 172, 247);
}