{% extends 'base.html' %}
{% load static %}

{% block title %}Topic Modeler{% endblock title %}

{% block head %}
<link href="{% static 'css/graph-creator.css' %}" rel="stylesheet">
<link href="{% static 'css/sidebar.css' %}" rel="stylesheet">
<link href="{% static 'css/bootstrap.vertical-tabs.min.css' %}" rel="stylesheet">
<style type="text/css">.conceptg text,.selected text{pointer-events:none}marker{fill:#8c8c8c}g.conceptg circle,g.selected circle,g.target circle{fill:#FFF;stroke:#333;stroke-width:1px}g.selected circle{stroke-width:3px;stroke:green}g.target circle{stroke-width:3px;stroke:red}g.conceptg:hover circle,g.selected:hover circle,g.target:hover circle{fill:#c8eef1}g.selected circle,g.selected:hover circle{fill:#fae8ff}path.link{fill:none;stroke:#8c8c8c;stroke-width:6px;cursor:default}path.link:hover{stroke:#5ec4cc}g.connect-node circle{fill:#BEFFFF}path.link.hidden{stroke-width:0}path.link.selected{stroke:#e5acf7}</style>
{% endblock head %}

{% block content %}
<div id="wrapper" class="active">
  <!-- Sidebar -->
  

          <div id="wrapper-sidebar" class="active">
      

      <div id="sidebar-wrapper-sidebar">
        
          

           
        <div style="width:300px;height:100%;float:left;background:rgb(240,240,240);">

                <div class="title">Topic Modeler</div>


                  <div id="index-side" class="panel-sidebar">                          
                      <div>
                        <p>Know what you need to write about, but need some help starting?</p>
                        <p>Begin by entering a single word, a topic, and generate a list of related topics.</p>
                      </div>
                      <div class="list">
                        <input id="textareaTopic" type="text"/>
                        <div id="related_list_title">
                          Related Topics
                        </div>
                        <div id="related_list"> 
                        </div>
                      </div>                          
                  </div>

                  <div id="sentences-side" class="panel-sidebar">
                    <p>Insert a sentence of three words.</p>
                    <input id="textareaSentencesInput" type="text"/>
                    
                    <div id="sentences_list"> 
                      
                    </div>
                    <div id="toolbox_side_bar" class="download-sidebar-image">         
                      <input type="image" id="generate-sentences" title="generate sentences" src="static/images/topics/download-icon.png" alt="Generate Sentence">
                    </div>
                  </div>

                  <div id="help-side" class="panel-sidebar" >
                    <div class="help_list"> 
                      Here is a quick set of instructions to help you navigate the program:
                      <br/><br/>
                      To create a new node (circle with a topic) on your graph, double-click anywhere on the screen and then write the word or topic you want to choose. You can also create a new node by typing the word on the toolbar on the right side of the screen and pressing enter.
                      <br/><br/>
                      After creating a node, you will see a list of related topics on the toolbar. You can select these related topics to create additional nodes on your graph. The related topics will update after each node you add.
                      <br/><br/>
                      To define a relationship between nodes in your graph, press shift and click on a node and then drag the arrow to the other node that you want to connect to. After you've drawn a line between nodes you can type in a verb that relates the two topics (nodes).
                      <br/><br/>
                      By making a graph with multiple nodes (topics) and edges (relationships), you can begin to build a topic structure for your writing. After completing your graph you can save a JSON file of your graph that you can reload later with the program. You can also download a TXT file that is a list of all the sentences and claims that you made in your graph.
                      <br/><br/>
                      Press Up/Down to increase/decrease the size of the nodes.
                      <br/><br/>
                      Once you complete your diagram, you can download it as a graph or as a JSON file. Moreover, you can download the set of sentences as a txt file.
                      <br/><br/>
                      If you want to keep working on a previous file, you can import your diagram as a JSON file.
                      <br/><br/>
                      Questions? Write to help@writelab.com.
                    </div>        
                  </div>

                  <div id="download-side" class="panel-sidebar">
                    
                      <input type="file" id="hidden-file-upload">
                                  <div class="download-sidebar-image">                                        
                                      <input style="height:35px;" id="upload-input" type="image" title="upload graph" src="static/images/topics/upload-icon.png" alt="Upload JSON">                                  
                                  </div>
                                  <div class="download-sidebar-image">                         
                                      <input style="height:35px;" type="image" id="download-input" title="download graph" src="static/images/topics/download-icon.png" alt="Download JSON">                                                        
                                  </div>
                                  <div class="download-sidebar-image">
                          
                                      <input style="height:35px;" type="image" id="delete-graph" title="delete graph" src="static/images/topics/trash-icon.png" alt="Delete Graph">
                                    
                                  </div>
                                  <div class="download-sidebar-image">            
                                          <input style="height:35px;" type="image" id="download-jpg" title="download image" src="static/images/topics/download-icon.png" alt="Download Image">
                                    
                                  </div>  
                                  <div class="download-sidebar-image">           
                                    <input type="radio" name="node-attribute" checked value="1">Normal<br>
                                    <input type="radio" name="node-attribute" value="2">Modal   
                                </div> 
                              
                  </div>

                



        </div>
      
    
        <div style="width:60px;height:100%;float:right;background:rgb(51, 51, 51);">
          <nav class="navbar-sidebar navbar-fixed-left-sidebar navbar-minimal-sidebar open-sidebar" role="navigation">
            <ul class="navbar-menu-sidebar">
              <li>
                <a id="menu-toggle-sidebar" href="#" class="">
                  <span id="main_icon-sidebar" class="glyphicon glyphicon-align-justify"></span>
                </a>
              </li>
              <li></li>
              <li>
                <a href="#related" id="list-button" class="">
                  <span class="glyphicon glyphicon-search"></span>
                </a>
              </li>
                      <li>
                        <a href="#sentences" id="sentences-button" class="">
                          <span class="glyphicon glyphicon-list"></span>
                        </a>
                      </li>
                      <li>
                        <a href="#help" id="help-button" class="">
                          <span class="glyphicon glyphicon-comment"></span>
                        </a>
                      </li>
                      <li>
                        <a href="#help" id="download-button" class="">
                          <span class="glyphicon glyphicon-download-alt"></span>
                        </a>
                      </li>
                    </ul>
                  </nav>
        </div>
       
      </div>
               
    </div>

  
</div>

    <div class="container-fluid" style="padding:0;margin:0">
          <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
              <div style="width:100%;height:100%">      
                  <div id="graph"></div>
                  <div id="svgdataurl"></div>
                  <canvas class="canvas" width="960" height="500" style="display:none"></canvas>       
              </div>
            </div>
          </div>
          
    </div>
          <input type="hidden" id="source_node_id" value="">
            <input type="hidden" id="target_node_id" value="">
            <input type="hidden" id="new_edge" value="-1">
            <div id="promp-relationships">
            <div class="promp-relationships-line"></div>
            <!--
            <div id="promp-relationships-text">Define a relationship between the topics by drawing a directorial line and choosing a verb </div>
            <input id="textareaEdge" type="text"/>
            -->
          </div>
           <div id="slider"></div>
           <div id="dialog-verb" title="Define Relationship">
            <p>
              <div id="promp-relationships-text">Define a relationship between the topics by drawing a directorial line and choosing a verb 
              </div>
              <input id="textareaEdge" type="text"/>
            </p>
          </div>
          <div id="dialog-node-attributes" title="Define Relationship">
            <p>
              <div id="tabs">
  <ul>
    <li><a href="#tabs-1">Node Information</a></li>
    <li><a href="#tabs-2">Attributes</a></li>
  </ul>
  <div id="tabs-1">
    <div style="padding-top:5px;padding-bottom:15px">
      Topic : <input type="text">
    </div>
    <br>
    <div style="padding-top:5px;padding-bottom:15px">
      Importance : <input type="number">
    </div>
    <br>
    <div style="padding-top:5px;padding-bottom:15px">
        Type : 
        <select name="word-types">    
           <option value="Noun" selected="selected">Noun</option>
           <option value="Compound">Compound Word</option>
           <option value="Pronoun">Pronoun</option>
       </select>
    </div>
    <div style="padding-left: 35%;padding-top:5px;padding-bottom:15px">
      <input type="button" value="save">
    </div>
  </div>
  <div id="tabs-2">    
    
    <div style="padding-top:5px;padding-bottom:15px">
      Radius : <input type="number">
    </div>
    <br>
    <div style="padding-top:5px;padding-bottom:15px">
        <b> Colors </b> :
        <br><br>
        Diameter : 
        <select name="diameter-type">    
           <option value="Yellow" selected="selected">Yellow</option>
           <option value="Red">Red</option>
           <option value="Green">Green</option>
         </select>
         <br><br>
        Background : 
        <select name="background-type">    
           <option value="Yellow" selected="selected">Yellow</option>
           <option value="Red">Red</option>
           <option value="Green">Green</option>
         </select>
    </div>
    <div style="padding-left: 35%;padding-top:5px;padding-bottom:15px">
      <input type="button" value="save">
    </div>
  </div>
  
</div>
            </p>
          </div>
{% endblock content %}

{% block extra_js %}

<script src="{% static 'js/d3.min.js' %}"></script>
<script src="{% static 'js/FileSaver.min.js' %}"></script>
<script src="{% static 'js/topic-interface.js' %}"></script>
<script src="{% static 'js/graph-creator.js' %}"></script>
<script src="{% static 'js/saveSvgAsPng.js' %}"></script>
<script src="{% static 'js/canvg.js' %}"></script>

{% endblock extra_js %}
